<div class="container">
    <div class=" row  ">
      <div class="  d-flex  justify-content-between   mt-4 ">
        <h3 class=" fw-bold">Workers List </h3>
        <a routerLink="/worker/workercreate" class="btn btn-primary  "> <i class="fa-solid fa-user"></i><i class="fa-solid fa-plus pe-2 h5 "></i>Add Worker </a>
      </div>
    </div>
    <input type="hidden" class="form-control" value="api" id="type" >
  

    <div class="row mt-3 mb-2">
      <div class="col-sm-12 bg-muted">
        <div class="table-responsive">
          <table class="m-auto table table-hover  mb-3">
            <tr class=" bg-secondary text-white fw-bold ">
              <th scope="col">S.No</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>

              <th scope="col">Email Id</th>
              <th scope="col">Age</th>
              <th scope="col">Job Position</th>
              <th scope="col">Date of Joining</th>
              <th colspan="2" class="text-center">Action</th>
            </tr>
            <tbody id="tbody">
             <tr *ngFor="let workers of workerdata">
              <td>{{workers.id}} </td>
              <td>{{workers.name }} </td>
              
             
            <td>{{workers.phonenumber}}</td>
            <td>{{workers.email }}   </td>
            <td>{{workers.age}}</td>
            <td>{{workers.jobposition}}</td>
            <td>{{workers.joningdate|date: 'dd-MM-yyyy'}}</td>
            <td><button class="btn btn-primary" routerLink ="/worker/edit/{{workers.id}}">Edit</button></td>
<td><button class="btn btn-danger" (click)="delete(workers.id)">Delete</button></td>
             </tr>
            </tbody>
         
          </table>
        </div>
        <nav aria-label="..." class="d-flex justify-content-end mb-3">
          <ul class="pagination text-center">
            <li class="page-item ">
              <a class="page-link" href="student_list.html" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item " aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
        
      </div>
    </div>
    </div>
    
