<nav class="navbar navbar-expand-lg nav  bg-light sticky-top " *ngIf="isvisiblile">
    <div class="container ">
        <img src="/assets/logo.png" alt="" >
        <button class="navbar-toggler text-dark " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="bi bi-list"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">
                <li class="nav-item"><a class="nav-link text-dark" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link  text-dark dropdown-toggle "routerLink="/teacher/teacherlist" routerLink="/teacher/teachercreate" routerLinkActive="active"
                        data-bs-toggle="dropdown">Teachers</a>
                    <div class="dropdown-menu">
                        <a routerLink="/teacher/teacherlist" class="dropdown-item ">Teachers List</a>
                        <a routerLink="/teacher/teachercreate" class="dropdown-item ">Create Teacher</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link  text-dark  dropdown-toggle  " routerLink="/student/studentlist" routerLink="/student/studentcreate" routerLinkActive="active"
                        data-bs-toggle="dropdown">Students</a>
                    <div class="dropdown-menu">
                        <a routerLink="/student/studentlist" class="dropdown-item ">Students List</a>
                        <a routerLink="/student/studentcreate" class="dropdown-item ">Create Student</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link   text-dark  dropdown-toggle " data-bs-toggle="dropdown" routerLink="/worker/workercreate" routerLink="/worker/workerlist"  routerLinkActive="active" >Workers</a>
                    <div class="dropdown-menu">
                        <a routerLink="/worker/workerlist" class="dropdown-item ">Workers List</a>
                        <a routerLink="/worker/workercreate" class="dropdown-item ">Create Worker </a>
                    </div>
                </div>
                <a routerLink="student" class="nav-link   text-dark">sample</a>

                <li class="nav-item">
                    <a class="nav-link btn text-dark" routerLink="login">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>