<div class="container  mt-4 ">
    <div class="row ">
             <div class=" d-flex justify-content-between">
            <span class=" fw-bold fs-3"><u>Create Teacher</u></span><a routerLink="/teacher/teacherlist"
                class="btn btn-primary px-4 py-2">Back</a>
        </div>
<form [formGroup]="register" (ngSubmit)="saveteacher()" >
        <div class="row mt-2">
            <input type="hidden" class="form-control" placeholder="First name" formControlName="id" >

            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="First name" id="firstName" formControlName="name" autocomplete="off">
                <span class="error" *ngIf="name&&name.invalid && name.touched">This field is required </span>
            </div>
            <div class="col-md-4">
                <input type="text" required class="form-control" placeholder="Last name" formControlName="lastname" autocomplete="off">
           <span class="error" *ngIf="lastname&&lastname.invalid && lastname.touched">This field is required</span>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control"  placeholder="Email id" formControlName="email" autocomplete="off" >
                <span class="error" *ngIf="email&&email.touched &&email.invalid ">This field is required</span>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder=" Phone number" formControlName="phonenumber" autocomplete="off">
                <span class="error" *ngIf="phonenumber&& phonenumber.touched&& phonenumber.invalid">This field is required</span>
            </div>
            <div class="col-sm-12  col-md-4">
                <select class="form-select "formControlName="bloodgroup" autocomplete="off">
                    <option value="">Select your blood group </option>
                    <option>O+</option>
                    <option>O-</option>
                    <option>A+</option>
                    <option>A-</option>
                    <option>B+</option>
                    <option>B-</option>
                    <option>AB+</option>
                    <option>AB-</option>
                </select>
                <span class="error" *ngIf="bloodgroup&& bloodgroup.touched&& bloodgroup.invalid">This field is required</span>
  
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="marriage" placeholder="Age" formControlName="age" autocomplete="off">
                <span class="error" *ngIf="age&& age.touched&& age.invalid">This field is required</span>
            </div>
            <div class="col-md-4">
                <select class="form-select" formControlName="experiance">
                    <option value="">Select your Experiance </option>
                    <option>0 - 1 Year</option>
                    <option>1 - 2 year</option>
                    <option>2 - 3 year</option>
                    <option>3 - 4 year</option>
                    <option>more then 5 year</option>
                </select>
                <span class="error" *ngIf="experiance&& experiance.touched&& experiance.invalid">This field is required</span>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Qualification"formControlName="qualification">
                <span class="error" *ngIf="qualification&& qualification.touched&& qualification.invalid">This field is required</span>
            </div>
            <div class="col-md-4 ps-3 pt-1" ><label>Gender :</label>
                <input type="radio" name="gender" value="Male" class="ms-4 gender" id="male" formControlName="gender" />Male
                <input type="radio" name="gender" value="Female" class="ms-4 gender" id="female" formControlName="gender" />Female<br>
                <span class="error" *ngIf="gender&& gender.touched&& gender.invalid">This field is required</span>

            </div>
            <div class="col-md-4 ">
                <div id="language"  >
                <label class=""  >Language :</label>
               
                    <input type="checkbox" name="language" value="English"  formControlName="language">English
                    <input type="checkbox"  name="language" value="Tamil" formControlName="language" >Tamil
                    <input type="checkbox"  name="language" value="Hindhi"  formControlName="language" >Hindhi
                    <span class="error" *ngIf="language&& language.touched&& language.invalid">This field is required</span>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="State" formControlName="state">
                <span class="error" *ngIf="state&& state.touched&& state.invalid">This field is required</span>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Country" formControlName="country">
                <span class="error" *ngIf="country&& country.touched&& country.invalid">This field is required</span>

            </div>
            <div class="col-md-4">
                <textarea class="form-control" placeholder=" Address" formControlName="address"></textarea>
                <span class="error" *ngIf="address&& address.touched&& address.invalid">This field is required</span>

            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Pin code" formControlName="pincode">
                <span class="error" *ngIf="pincode&& pincode.touched&& pincode.invalid">This field is required</span>

            </div>
            <div class="col-md-4"><label class="ps-2">Joining Date</label>
                <input type="date" class="form-control date" placeholder="Date of birth"formControlName="joningdate">
                <span class="error" *ngIf="joningdate&& joningdate.touched&& joningdate.invalid">This field is required</span>

            </div>
          
            <div class="d-flex justify-content-end gap-3">
                <button class="btn  btn-danger  px-3" type="reset">Cancel</button>
                <button class="btn btn-success  px-3" type="submit" id="submit" [disabled]="register.invalid">Submit</button>
            </div>
        </div>
        <div class="text-center">
        <span class={{messageclass}} >  {{message}}</span>
        
    </div>
</form>

    </div>
   
    
</div>