<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group col-md-6" [class.has-error]="codeControl.invalid && codeControl.touched">
           <label  class="control-label">code</label>
           <input type="text" class="form-control" required [(ngModel)]="projet.code" id="code" name="code" #codeControl="ngModel">
           <span class="help-block" *ngIf="codeControl.invalid && codeControl.touched">code is required </span>
         </div>
   
   
   
         <div class="form-group col-md-6" [class.has-error]="libelleControl.invalid && libelleControl.touched">
           <label class="control-label">libelle</label>
           <input type="text" class="form-control" required [(ngModel)]="projet.libelle" id="libelle" name="libelle" #libelleControl="ngModel">
         <span class="help-block" *ngIf="libelleControl.invalid && libelleControl.touched"> libelle is required </span>
         </div>
   
   
       <button type="submit" class="btn btn-primary" >submit </button>
   
       
     </form>
</body>
</html>