<div class="container">
    <div class=" row  ">
      <div class="  d-flex  justify-content-between   mt-4 ">
        <h3 class=" fw-bold">Students List </h3>
        <a routerLink="/student/studentcreate" class="btn btn-primary "> <i class="fa-solid fa-user"></i><i class="fa-solid fa-plus pe-2 h5 "></i>Add Student </a>
      </div>
    </div>
    <div class="row mt-3 mb-2">
      <div class="col-sm-12 bg-muted">
        <div class="table-responsive">
          <table class="m-auto table table-hover  mb-3" >
            <tr class=" bg-secondary text-white fw-bold ">
              <th scope=" col">S.No</th>
              <th scope="col">Name</th>
              <th scope="col">Father Name</th>
              <th scope="col">DOB</th>
              <th scope="col">Class</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Blood Group</th>
              <th colspan="2" class="text-center">Action</th>
              

             

            </tr>
            <tbody id="tbody">
              <tr *ngFor ="let students of studentdata">
                <td>{{students.id}} </td>
                <td>{{students.studentname }} </td>
                <td>{{students.fathername}} </td>
              <td>{{students.dob|date: 'dd-MM-yyyy' }}   </td>
              <td>{{students.standard}}</td>
              <td>{{students.phonenumber}}</td>
              <td>{{students.bloodgroup}}</td>
              <td><button class="btn btn-primary" routerLink ="/student/edit/{{students.id}}">Edit</button></td>
              <td><button class="btn btn-danger" (click) ="delete(students.id)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <nav aria-label="..." class="d-flex justify-content-end mb-3">
          <ul class="pagination text-center">
            <li class="page-item ">
              <a class="page-link" href="teacher_list.html" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="worker_list.html">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>